
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
h1{
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 60px ;
}
h2{
    font-family: 'Minecraft', sans-serif;
    font-size: 50px;
    text-align: center;
}
h3{
    font-family: 'Ninja Naruto', sans-serif;
    font-size: 50px;
    text-align: center;
} 
h4{
    font-family: 'POCOYO TV', sans-serif;
    font-size: 50px;
    text-align: center;
} 
p{
    font-family: "cinzel", serif;
    font-size: 40px;
}
.card{
width: 420px ;
display: inline-block;
}
.card img{
    width: 400px;
    border-radius: 10px;

}
.musicas{
    width: 100%;
    text-align: center;

}